In [1]:
# a common nickname for pandas is pd
import pandas as pd

In [3]:
dict = {
    "state": ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
        "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
        "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
        "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
        "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
        "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
        "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
        "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"],
    "area": [159.8, 2716.7, 517.6, 116.2, 97.9, 153.3, 17.3, 22.4, 95.7, 
        133.5, 68.4, 63.8, 54.0, 361.5, 75.8, 56.0, 14.7, 76.8, 55.4, 6.73,
        89.6, 35.0, 52.8, 104.9, 27.3, 14.0, 74.6, 143.4, 64.3, 7.66, 37.3, 
        21.4, 114.6, 26.9, 210.3, 620.3, 45.7, 8.11, 18.5, 125.2, 13.0, 
        525.9, 305.1, 109.1, 10.2, 60.1, 16.7, 31.6, 68.7, 21.1],
    "capital": ["Montgomery", "Juneau", "Phoenix", "Little Rock", "Sacramento", "Denver",
        "Hartford", "Dover", "Tallahassee", "Atlanta", "Honolulu", "Boise", "Springfield",
        "Indianapolis", "Des Moines", "Topeka", "Frankfort", "Baton Rouge", "Augusta", "Annapolis",
        "Boston", "Lansing", "Saint Paul", "Jackson", "Jefferson City", "Helena",
        "Lincoln", "Carson City", "Concord", "Trenton", "Santa Fe", "Albany",
        "Raleigh", "Bismarck", "Columbus", "Oklahoma City", "Salem", "Harrisburg",
        "Providence", "Columbia", "Pierre", "Nashville", "Austin", "Salt Lake City",
        "Montpelier", "Richmond", "Olympia", "Charleston", "Madison", "Cheyenne"]
}

In [13]:
# add units to the area column!
capital_data.columns = ['state', 'area (mi^2)', 'capital']
capital_data

             state  area (mi^2)         capital
0          Alabama       159.80      Montgomery
1           Alaska      2716.70          Juneau
2          Arizona       517.60         Phoenix
3         Arkansas       116.20     Little Rock
4       California        97.90      Sacramento
5         Colorado       153.30          Denver
6      Connecticut        17.30        Hartford
7         Delaware        22.40           Dover
8          Florida        95.70     Tallahassee
9          Georgia       133.50         Atlanta
10          Hawaii        68.40        Honolulu
11           Idaho        63.80           Boise
12        Illinois        54.00     Springfield
13         Indiana       361.50    Indianapolis
14            Iowa        75.80      Des Moines
15          Kansas        56.00          Topeka
16        Kentucky        14.70       Frankfort
17       Louisiana        76.80     Baton Rouge
18           Maine        55.40         Augusta
19        Maryland         6.73       Annapolis
20   Massachusetts        89.60          Boston
21        Michigan        35.00         Lansing
22       Minnesota        52.80      Saint Paul
23     Mississippi       104.90         Jackson
24        Missouri        27.30  Jefferson City
25         Montana        14.00          Helena
26        Nebraska        74.60         Lincoln
27          Nevada       143.40     Carson City
28   New Hampshire        64.30         Concord
29      New Jersey         7.66         Trenton
30      New Mexico        37.30        Santa Fe
31        New York        21.40          Albany
32  North Carolina       114.60         Raleigh
33    North Dakota        26.90        Bismarck
34            Ohio       210.30        Columbus
35        Oklahoma       620.30   Oklahoma City
36          Oregon        45.70           Salem
37    Pennsylvania         8.11      Harrisburg
38    Rhode Island        18.50      Providence
39  South Carolina       125.20        Columbia
40    South Dakota        13.00          Pierre
41       Tennessee       525.90       Nashville
42           Texas       305.10          Austin
43            Utah       109.10  Salt Lake City
44         Vermont        10.20      Montpelier
45        Virginia        60.10        Richmond
46      Washington        16.70         Olympia
47   West Virginia        31.60      Charleston
48       Wisconsin        68.70         Madison
49         Wyoming        21.10        Cheyenne

In [20]:
capital_data.sort_values(ascending = True, by = 'area (mi^2)')

             state  area (mi^2)         capital
19        Maryland         6.73       Annapolis
29      New Jersey         7.66         Trenton
37    Pennsylvania         8.11      Harrisburg
44         Vermont        10.20      Montpelier
40    South Dakota        13.00          Pierre
25         Montana        14.00          Helena
16        Kentucky        14.70       Frankfort
46      Washington        16.70         Olympia
6      Connecticut        17.30        Hartford
38    Rhode Island        18.50      Providence
49         Wyoming        21.10        Cheyenne
31        New York        21.40          Albany
7         Delaware        22.40           Dover
33    North Dakota        26.90        Bismarck
24        Missouri        27.30  Jefferson City
47   West Virginia        31.60      Charleston
21        Michigan        35.00         Lansing
30      New Mexico        37.30        Santa Fe
36          Oregon        45.70           Salem
22       Minnesota        52.80      Saint Paul
12        Illinois        54.00     Springfield
18           Maine        55.40         Augusta
15          Kansas        56.00          Topeka
45        Virginia        60.10        Richmond
11           Idaho        63.80           Boise
28   New Hampshire        64.30         Concord
10          Hawaii        68.40        Honolulu
48       Wisconsin        68.70         Madison
26        Nebraska        74.60         Lincoln
14            Iowa        75.80      Des Moines
17       Louisiana        76.80     Baton Rouge
20   Massachusetts        89.60          Boston
8          Florida        95.70     Tallahassee
4       California        97.90      Sacramento
23     Mississippi       104.90         Jackson
43            Utah       109.10  Salt Lake City
32  North Carolina       114.60         Raleigh
3         Arkansas       116.20     Little Rock
39  South Carolina       125.20        Columbia
9          Georgia       133.50         Atlanta
27          Nevada       143.40     Carson City
5         Colorado       153.30          Denver
0          Alabama       159.80      Montgomery
34            Ohio       210.30        Columbus
42           Texas       305.10          Austin
13         Indiana       361.50    Indianapolis
2          Arizona       517.60         Phoenix
41       Tennessee       525.90       Nashville
35        Oklahoma       620.30   Oklahoma City
1           Alaska      2716.70          Juneau

In [17]:
capital_data.shift(periods = 2)

             state  area (mi^2)         capital
0              NaN          NaN             NaN
1              NaN          NaN             NaN
2          Alabama       159.80      Montgomery
3           Alaska      2716.70          Juneau
4          Arizona       517.60         Phoenix
5         Arkansas       116.20     Little Rock
6       California        97.90      Sacramento
7         Colorado       153.30          Denver
8      Connecticut        17.30        Hartford
9         Delaware        22.40           Dover
10         Florida        95.70     Tallahassee
11         Georgia       133.50         Atlanta
12          Hawaii        68.40        Honolulu
13           Idaho        63.80           Boise
14        Illinois        54.00     Springfield
15         Indiana       361.50    Indianapolis
16            Iowa        75.80      Des Moines
17          Kansas        56.00          Topeka
18        Kentucky        14.70       Frankfort
19       Louisiana        76.80     Baton Rouge
20           Maine        55.40         Augusta
21        Maryland         6.73       Annapolis
22   Massachusetts        89.60          Boston
23        Michigan        35.00         Lansing
24       Minnesota        52.80      Saint Paul
25     Mississippi       104.90         Jackson
26        Missouri        27.30  Jefferson City
27         Montana        14.00          Helena
28        Nebraska        74.60         Lincoln
29          Nevada       143.40     Carson City
30   New Hampshire        64.30         Concord
31      New Jersey         7.66         Trenton
32      New Mexico        37.30        Santa Fe
33        New York        21.40          Albany
34  North Carolina       114.60         Raleigh
35    North Dakota        26.90        Bismarck
36            Ohio       210.30        Columbus
37        Oklahoma       620.30   Oklahoma City
38          Oregon        45.70           Salem
39    Pennsylvania         8.11      Harrisburg
40    Rhode Island        18.50      Providence
41  South Carolina       125.20        Columbia
42    South Dakota        13.00          Pierre
43       Tennessee       525.90       Nashville
44           Texas       305.10          Austin
45            Utah       109.10  Salt Lake City
46         Vermont        10.20      Montpelier
47        Virginia        60.10        Richmond
48      Washington        16.70         Olympia
49   West Virginia        31.60      Charleston